name: Angular Test Workflow

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v4
      - name: Install NodeJs
        uses: actions/setup-node@v4
        with:
          node-version: 18.19.1
      - name: Install dependencies
        working-directory: gh-first-action
        run: npm ci
      - name: Run Tests
        working-directory: gh-first-action
        run: npm run test
